.pp-header{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.pp-header img{
    height: 40px;
}
.pp-section{
    background-color: #f2f7fd;
    min-height: 450px;
    display: flex;
    align-items: center;
    height: auto;
    padding: 60px 0;
}
.pp-section.center .row{
    align-items: center;
}
.pp-section.white{
    background-color: #fff;
}
.pp-section img{
    width: 100%;
}
.pp-terms-section{
    /* overflow-y: hidden; */
    position: relative;
}
.pp-terms-section p{
    line-height: 1.86;
}
.pp-terms-section ol{
    padding-left: 1.2em;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}
.pp-terms-section ol li{
    margin-bottom: 5px;
    line-height: 1.86;

}
.pp-fader{
    position: relative;
}
.pp-fader .sbi-button{
    z-index: 1;
    position: relative;
}
.pp-fader::after{
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.27), #fff 31%);
    content: '';
    position: absolute;
    top: -60px;
    left: 0;
    z-index: 0;
}
a.sbi-button{
    display:inline-flex;align-items: center;justify-content: center;
    font-size: 14px;
    font-weight: 600;
}